* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.drawing-options {
  display: flex;
  gap: 5px;
  max-width: 95%;
  width: 600px;
  border: 1px solid #f5f3f3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* subtle shadow */
  padding: 10px;
  transition: box-shadow 0.2s ease;
  position: fixed;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  .option {
    display: flex;
    position: relative;
    width: 50px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    &:hover {
      border: none;
      background-color: #e0dfff;
      svg {
        color: white;
      }
    }
    .txt {
      position: absolute;
      color: #999;
      bottom: 0px;
      right: 2px;
      font-size: 0.6rem;
    }
    svg {
      color: gray;
      /* fill: white; */
      stroke: black;
      /* stroke-width: 1px; */
      width: 40%;
      height: 50%;
      min-width: 15px;
    }
  }
}

@media (max-width: 500px) {
  .txt {
    display: none;
  }
}
