* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --subtle-shadow: rgba(0, 0, 0, 0.1);
}

.drawing-options {
  display: flex;
  gap: 5px;
  max-width: 95%;
  width: 600px;
  border: 1px solid #f5f3f3;
  box-shadow: 0 1px 3px var(--subtle-shadow); /* subtle shadow */
  background-color: white;
  padding: 10px;
  transition: box-shadow 0.2s ease;
  position: fixed;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 100;
  .option {
    display: flex;
    position: relative;
    width: 50px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    &:hover {
      border: none;
      background-color: #e0dfff;
      svg {
        color: white;
      }
    }
    .txt {
      position: absolute;
      color: #999;
      bottom: 0px;
      right: 2px;
      font-size: 0.6rem;
    }
    svg {
      color: gray;
      /* fill: white; */
      stroke: black;
      /* stroke-width: 1px; */
      width: 40%;
      height: 50%;
      min-width: 15px;
    }
  }
  .option-active {
    border: none;
    background-color: #e0dfff;
    svg {
      color: #030064;
    }
    &:hover {
      svg {
        color: #030064;
      }
    }
  }
}
.option-active {
  border: none;
  background-color: #e0dfff;
  svg {
    color: #030064;
  }
  &:hover {
    svg {
      color: #030064;
    }
  }
}

.draw-customizations {
  box-shadow: 0 1px 3px var(--subtle-shadow);
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  z-index: 1000;
  left: 20px;
  top: 50%;
  background-color: white;
  transform: translateY(-50%);
  cursor: pointer;
}
.field {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  input {
    max-width: 70px;
  }
  .field-title {
    margin-bottom: 10px;
  }
}
.color-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.color-selection-defaults {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.color-selection-custom {
  display: flex;
  gap: 5px;
  &::before {
    content: '';
    height: 30px;
    width: 2px;
    margin-right: 5px;
    background-color: #e0dfff;
  }
}

.stroke-width-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.color-select-option {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  transition: 0.2s all linear;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0 1px #4a47b1;
  }
}

.transparent {
  background-image: url('./assets/222.png');
  background-size: cover;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.blue {
  background-color: dodgerblue;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.pink {
  background-color: pink;
}
.mint {
  background-color: #b2f2bb;
}
.lightblue {
  background-color: #a5d8ff;
}
.yellow {
  background-color: #ffec99;
}
.color-picker__button-outline {
  position: absolute;
  top: -1;
  left: -1;
  right: -1;
  bottom: -1;

  z-index: 1;
  border-radius: 4px;
  filter: none;
}

.width-option {
  width: 40px;
  height: 40px;
  background-color: #f8f8f8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #e0dfff;
  }
}
.small-minus {
  font-size: 0.8rem;
}

.medium-minus {
  font-size: 1.1rem;
}

.big-minus {
  font-size: 1.4rem;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(27, 27, 27);
  cursor: pointer;
  /* margin-top: px; center the thumb */
}

.draw-customizations .option-active {
  border: none;
  background-color: #e0dfff;
}

.draw-customizations .option-active svg {
  color: #030064;
}
@media (max-width: 500px) {
  .txt {
    display: none;
  }
}

canvas {
  border: none;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  cursor: crosshair;
}
