@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background: linear-gradient(to bottom, #f8fef8, #fff); */
}
:root {
  --subtle-shadow: rgba(0, 0, 0, 0.1);
}

.landing-page {
  background: linear-gradient(to bottom, #f8fef8, #fff);
}
.header {
  font-family: 'Patrick Hand', cursive;
  font-weight: 400;
  font-style: normal;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 50px;
}
.icon {
  color: #6965db;
  font-size: 2rem;
}
.header-logo {
  font-size: 2.4rem;
}
.header-logo-name {
  color: #030064;
  font-size: 2.4rem;
  margin-bottom: 10px;
}
.special-class {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.scrolled {
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparent */
  backdrop-filter: blur(10px); /* blur background behind header */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-bottom: 1px solid rgba(211, 205, 205, 0.5);
}
.nav {
  gap: 20px;
  button {
    padding: 12px 30px;
    color: #030064;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    font-size: 1.1rem;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05); /* semi-transparent */
      color: #030064;
    }
  }
  .canvas-button {
    background-color: #6965db;
    color: white;
    border: none;
    padding: 12px 50px;
  }
}
.nav-hamburger {
  display: none;
}
.registration-page {
  display: flex;
  width: 100vw;
  background-color: #6965db;
  max-height: 100vh;
}
.account {
  min-width: 400px;
  /* max-width: 0%; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245, 0.3);
  padding: 50px;
  border-radius: 20px;
  width: 50vw;
}
.account-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registration-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 40px;
}

.form-field {
  border-bottom: 1px solid black;
  display: flex;
  gap: 50px;
  color: grey;
}
.form-field-icon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  margin-bottom: 5px;
}

.form-field input {
  border: none;
  background-color: rgb(245, 245, 245, 0);
  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
  &::placeholder {
    font-size: 1.1rem;
  }
}
.icon {
  width: 100%;
  height: 100%;
}

.registration-button {
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: dodgerblue;
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  &:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
}

.google {
  background-color: white;
  color: blue;
  border: 1px solid #8692b7;
}

a {
  text-decoration: none;
}
.account-details {
  h4 {
    font-weight: 500;
    margin: 20px auto;
  }
}
.banner-card-component {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.registration-page-overlay {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.registration-page-register {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
}

.drawing-options {
  display: flex;
  gap: 5px;
  max-width: 95%;
  width: 600px;
  border: 1px solid #f5f3f3;
  box-shadow: 0 1px 3px var(--subtle-shadow); /* subtle shadow */
  background-color: white;
  padding: 10px;
  transition: box-shadow 0.2s ease;
  position: fixed;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 100;
  .option {
    display: flex;
    position: relative;
    width: 50px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    &:hover {
      border: none;
      background-color: #e0dfff;
      svg {
        color: white;
      }
    }
    .txt {
      position: absolute;
      color: #999;
      bottom: 0px;
      right: 2px;
      font-size: 0.6rem;
    }
    svg {
      color: gray;
      /* fill: white; */
      stroke: black;
      /* stroke-width: 1px; */
      width: 40%;
      height: 50%;
      min-width: 15px;
    }
  }
  .option-active {
    border: none;
    background-color: #e0dfff;
    svg {
      color: #030064;
    }
    &:hover {
      svg {
        color: #030064;
      }
    }
  }
}
.option-active {
  border: none;
  background-color: #e0dfff;
  svg {
    color: #030064;
  }
  &:hover {
    svg {
      color: #030064;
    }
  }
}

.draw-customizations {
  box-shadow: 0 1px 3px var(--subtle-shadow);
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  z-index: 1000;
  left: 20px;
  top: 50%;
  background-color: white;
  transform: translateY(-50%);
  cursor: pointer;
}
.field {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  input {
    max-width: 70px;
  }
  .field-title {
    margin-bottom: 10px;
  }
}
.color-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.color-selection-defaults {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.color-selection-custom {
  display: flex;
  gap: 5px;
  &::before {
    content: '';
    height: 30px;
    width: 2px;
    margin-right: 5px;
    background-color: #e0dfff;
  }
}

.stroke-width-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.color-select-option {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  transition: 0.2s all linear;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0 1px #4a47b1;
  }
}

.transparent {
  background-image: url('./assets/222.png');
  background-size: cover;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.blue {
  background-color: dodgerblue;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.pink {
  background-color: pink;
}
.mint {
  background-color: #b2f2bb;
}
.lightblue {
  background-color: #a5d8ff;
}
.yellow {
  background-color: #ffec99;
}
.color-picker__button-outline {
  position: absolute;
  top: -1;
  left: -1;
  right: -1;
  bottom: -1;

  z-index: 1;
  border-radius: 4px;
  filter: none;
}

.width-option {
  width: 40px;
  height: 40px;
  background-color: #f8f8f8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #e0dfff;
  }
}
.small-minus {
  font-size: 0.8rem;
}

.medium-minus {
  font-size: 1.1rem;
}

.big-minus {
  font-size: 1.4rem;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(27, 27, 27);
  cursor: pointer;
  /* margin-top: px; center the thumb */
}

.draw-customizations .option-active {
  border: none;
  background-color: #e0dfff;
}

.draw-customizations .option-active svg {
  color: #030064;
}
canvas {
  border: none;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  cursor: crosshair;
}

@media (max-width: 500px) {
  .txt {
    display: none;
  }
}
@media (max-width: 450px) {
  .account {
    min-width: 340px;
  }
}

@media (max-width: 700px) {
  .nav {
    display: none;
  }
  .nav-hamburger {
    display: block;
  }
}
@media (max-width: 850px) {
  .registration-page-overlay {
    display: none;
  }
  .registration-page-register {
    width: 100vw;
    background-color: #4a47b1;
    height: 100vh;
    .account {
      background-color: white;
    }
  }
}

@media (max-width: 1150px) {
  .registration-page-overlay {
    img {
      max-width: 400px;
    }
  }
}
